# US-Mexico Air Traffic

Visualizing U.S. Department of Transportation flights data

**Goal:** Rows with unique origin-destination, lat/long of origin, lat/long of destination, total count of passengers.
For single month.

In [144]:
import pandas as pd

## Load data

In [145]:
airports = pd.read_csv("data/airports.csv")

In [146]:
passengers = pd.read_csv("data/passengers.csv")

In [147]:
freight = pd.read_csv("data/freight.csv")

## Inspect data

**Airports** has unique airport codes along with latitude and longitude of the airport  
**Passengers** has origin and destination airport codes, dates(aggregated by month), airline carrier, and number of passengers.

In [148]:
passengers.head()

,data_dte,Year,Month,usg_apt_id,usg_apt,usg_wac,fg_apt_id,fg_apt,fg_wac,airlineid,carrier,carriergroup,type,Scheduled,Charter,Total
0,12/01/2018,2018,12,12478,JFK,22,12972,LHR,493,19540,BA,0,Passengers,102978,0,102978
1,12/01/2018,2018,12,12478,JFK,22,12972,LHR,493,19682,VS,0,Passengers,80302,0,80302
2,12/01/2018,2018,12,12953,LGA,22,16271,YYZ,936,19531,AC,0,Passengers,79549,89,79638
3,12/01/2018,2018,12,12478,JFK,22,10920,CDG,427,19532,AF,0,Passengers,70930,0,70930
4,12/01/2018,2018,12,13303,MIA,33,12972,LHR,493,19540,BA,0,Passengers,55603,0,55603

In [149]:
passengers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642550 entries, 0 to 642549
Data columns (total 16 columns):
data_dte        642550 non-null object
Year            642550 non-null int64
Month           642550 non-null int64
usg_apt_id      642550 non-null int64
usg_apt         642550 non-null object
usg_wac         642550 non-null int64
fg_apt_id       642550 non-null int64
fg_apt          642550 non-null object
fg_wac          642550 non-null int64
airlineid       642550 non-null int64
carrier         639753 non-null object
carriergroup    642550 non-null int64
type            642550 non-null object
Scheduled       642550 non-null int64
Charter         642550 non-null int64
Total           642550 non-null int64
dtypes: int64(11), object(5)
memory usage: 78.4+ MB

In [150]:
airports.head()

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,AIRPORT_STATE_CODE,...,LON_DEGREES,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST,Unnamed: 28
0,1000101,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",1,United States,US,Alaska,AK,...,152.0,W,54.0,24.0,-152.906667,2007-07-01,NaN,0,1,NaN
1,1000301,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",1,United States,US,Alaska,AK,...,161.0,W,4.0,18.0,-161.071667,2007-07-01,NaN,0,1,NaN
2,1000401,10004,04A,Lik Mining Camp,"Lik, AK",1,United States,US,Alaska,AK,...,163.0,W,10.0,0.0,-163.166667,2007-07-01,NaN,0,1,NaN
3,1000501,10005,05A,Little Squaw Airport,"Little Squaw, AK",1,United States,US,Alaska,AK,...,148.0,W,11.0,2.0,-148.183889,2007-08-01,NaN,0,1,NaN
4,1000601,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",1,United States,US,Alaska,AK,...,152.0,W,52.0,58.0,-152.882778,2007-10-01,NaN,0,1,NaN

In [151]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17808 entries, 0 to 17807
Data columns (total 29 columns):
AIRPORT_SEQ_ID                    17808 non-null int64
AIRPORT_ID                        17808 non-null int64
AIRPORT                           17808 non-null object
DISPLAY_AIRPORT_NAME              17808 non-null object
DISPLAY_AIRPORT_CITY_NAME_FULL    17808 non-null object
AIRPORT_WAC                       17808 non-null int64
AIRPORT_COUNTRY_NAME              17808 non-null object
AIRPORT_COUNTRY_CODE_ISO          17720 non-null object
AIRPORT_STATE_NAME                7703 non-null object
AIRPORT_STATE_CODE                7703 non-null object
AIRPORT_STATE_FIPS                6833 non-null float64
CITY_MARKET_ID                    17808 non-null int64
DISPLAY_CITY_MARKET_NAME_FULL     17808 non-null object
CITY_MARKET_WAC                   17808 non-null int64
LAT_DEGREES                       17807 non-null float64
LAT_HEMISPHERE                    17807 non-null object
LAT_MINUTES                       17807 non-null float64
LAT_SECONDS                       17807 non-null float64
LATITUDE                          17807 non-null float64
LON_DEGREES                       17807 non-null float64
LON_HEMISPHERE                    17807 non-null object
LON_MINUTES                       17807 non-null float64
LON_SECONDS                       17807 non-null float64
LONGITUDE                         17807 non-null float64
AIRPORT_START_DATE                17808 non-null object
AIRPORT_THRU_DATE                 11501 non-null object
AIRPORT_IS_CLOSED                 17808 non-null int64
AIRPORT_IS_LATEST                 17808 non-null int64
Unnamed: 28                       0 non-null float64
dtypes: float64(10), int64(7), object(12)
memory usage: 3.9+ MB

## Filter data to just one month, December 2018

In [152]:
decemberPassengers = passengers[passengers["data_dte"] == "12/01/2018"].copy(deep=True)

## Create unique origin-destination ID

In [153]:
decemberPassengers["originDestination"] = decemberPassengers["usg_apt_id"].astype(str) + decemberPassengers["fg_apt_id"].astype(str)

In [154]:
decemberPassengers.originDestination.value_counts()

1330313605    7
1169713605    7
1393016271    7
1217313744    7
1393016217    6
1169716271    6
1289214312    6
1474716229    6
1289214832    6
1320413252    6
1330316271    6
1289211032    6
1289216229    6
1247813252    6
1072116271    5
1393013252    5
1289215092    5
1289213252    5
1289212010    5
1247813560    5
1320416271    5
1348716271    5
1161816271    5
1530416271    5
1289212972    5
1143316217    5
1468313252    5
1161816217    5
1289216271    5
1226613252    5
             ..
1467911760    1
1169711654    1
1226613306    1
1410010521    1
1295316232    1
1129815092    1
1182710916    1
1226613269    1
1039711164    1
1161814210    1
1334211874    1
1161810846    1
1143312651    1
1129816304    1
1039714286    1
1129813156    1
1393016321    1
1330315258    1
1354616229    1
1226614066    1
1393012239    1
9999914682    1
1402714012    1
1201613694    1
1137610148    1
1320411208    1
1129814717    1
1275813744    1
1105713518    1
1247812986    1
Name: originDestination, Length: 1703, dtype: int64

## Sum by origin destination ID

In [155]:
originDestTotals = decemberPassengers.groupby(["originDestination","usg_apt_id","fg_apt_id"])["Total"].sum().reset_index()

In [156]:
originDestTotals.head()

  originDestination  usg_apt_id  fg_apt_id  Total
0        1014011874       10140      11874   1014
1        1025716085       10257      16085     43
2        1029912143       10299      12143      4
3        1029912169       10299      12169      3
4        1029913252       10299      13252    146

In [157]:
originDestTotals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1703 entries, 0 to 1702
Data columns (total 4 columns):
originDestination    1703 non-null object
usg_apt_id           1703 non-null int64
fg_apt_id            1703 non-null int64
Total                1703 non-null int64
dtypes: int64(3), object(1)
memory usage: 53.3+ KB

## Join with airport data by airport ID, origin and destination

In [158]:
airports = airports[airports.AIRPORT_IS_LATEST == 1]

In [160]:
withDestination = pd.merge(originDestTotals, airports, how="left", left_on="usg_apt_id", right_on="AIRPORT_ID").rename(columns={"LATITUDE": "destination_latitude", "LONGITUDE": "destination_longitude"})

In [161]:
withOrigin = pd.merge(withDestination, airports, how="left", left_on="fg_apt_id", right_on="AIRPORT_ID").rename(columns={"LATITUDE": "origin_latitude", "LONGITUDE": "origin_longitude"})

In [173]:
withOrigin.head()

,originDestination,usg_apt_id,fg_apt_id,Total,AIRPORT_SEQ_ID_x,AIRPORT_ID_x,AIRPORT_x,DISPLAY_AIRPORT_NAME_x,DISPLAY_AIRPORT_CITY_NAME_FULL_x,AIRPORT_WAC_x,...,LON_DEGREES_y,LON_HEMISPHERE_y,LON_MINUTES_y,LON_SECONDS_y,origin_longitude,AIRPORT_START_DATE_y,AIRPORT_THRU_DATE_y,AIRPORT_IS_CLOSED_y,AIRPORT_IS_LATEST_y,Unnamed: 28_y
0,1014011874,10140,11874,1014,1014005,10140,ABQ,Albuquerque International Sunport,"Albuquerque, NM",86,...,103.0,W,18.0,40.0,-103.311111,2017-12-01,NaN,0,1,NaN
1,1025716085,10257,16085,43,1025702,10257,ALB,Albany International,"Albany, NY",22,...,63.0,W,30.0,38.0,-63.510556,2017-12-01,NaN,0,1,NaN
2,1029912143,10299,12143,4,1029906,10299,ANC,Ted Stevens Anchorage International,"Anchorage, AK",1,...,113.0,E,54.0,53.0,113.914722,1998-07-01,NaN,0,1,NaN
3,1029912169,10299,12169,3,1029906,10299,ANC,Ted Stevens Anchorage International,"Anchorage, AK",1,...,139.0,E,47.0,20.0,139.788889,2019-04-01,NaN,0,1,NaN
4,1029913252,10299,13252,146,1029906,10299,ANC,Ted Stevens Anchorage International,"Anchorage, AK",1,...,99.0,W,4.0,19.0,-99.071944,2011-07-01,NaN,0,1,NaN

In [172]:
withOrigin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1703 entries, 0 to 1702
Data columns (total 62 columns):
originDestination                   1703 non-null object
usg_apt_id                          1703 non-null int64
fg_apt_id                           1703 non-null int64
Total                               1703 non-null int64
AIRPORT_SEQ_ID_x                    1703 non-null int64
AIRPORT_ID_x                        1703 non-null int64
AIRPORT_x                           1703 non-null object
DISPLAY_AIRPORT_NAME_x              1703 non-null object
DISPLAY_AIRPORT_CITY_NAME_FULL_x    1703 non-null object
AIRPORT_WAC_x                       1703 non-null int64
AIRPORT_COUNTRY_NAME_x              1703 non-null object
AIRPORT_COUNTRY_CODE_ISO_x          1703 non-null object
AIRPORT_STATE_NAME_x                1703 non-null object
AIRPORT_STATE_CODE_x                1703 non-null object
AIRPORT_STATE_FIPS_x                1703 non-null float64
CITY_MARKET_ID_x                    1703 non-null int64
DISPLAY_CITY_MARKET_NAME_FULL_x     1703 non-null object
CITY_MARKET_WAC_x                   1703 non-null int64
LAT_DEGREES_x                       1696 non-null float64
LAT_HEMISPHERE_x                    1696 non-null object
LAT_MINUTES_x                       1696 non-null float64
LAT_SECONDS_x                       1696 non-null float64
destination_latitude                1696 non-null float64
LON_DEGREES_x                       1696 non-null float64
LON_HEMISPHERE_x                    1696 non-null object
LON_MINUTES_x                       1696 non-null float64
LON_SECONDS_x                       1696 non-null float64
destination_latitude                1696 non-null float64
AIRPORT_START_DATE_x                1703 non-null object
AIRPORT_THRU_DATE_x                 0 non-null object
AIRPORT_IS_CLOSED_x                 1703 non-null int64
AIRPORT_IS_LATEST_x                 1703 non-null int64
Unnamed: 28_x                       0 non-null float64
AIRPORT_SEQ_ID_y                    1703 non-null int64
AIRPORT_ID_y                        1703 non-null int64
AIRPORT_y                           1703 non-null object
DISPLAY_AIRPORT_NAME_y              1703 non-null object
DISPLAY_AIRPORT_CITY_NAME_FULL_y    1703 non-null object
AIRPORT_WAC_y                       1703 non-null int64
AIRPORT_COUNTRY_NAME_y              1703 non-null object
AIRPORT_COUNTRY_CODE_ISO_y          1703 non-null object
AIRPORT_STATE_NAME_y                287 non-null object
AIRPORT_STATE_CODE_y                287 non-null object
AIRPORT_STATE_FIPS_y                0 non-null float64
CITY_MARKET_ID_y                    1703 non-null int64
DISPLAY_CITY_MARKET_NAME_FULL_y     1703 non-null object
CITY_MARKET_WAC_y                   1703 non-null int64
LAT_DEGREES_y                       1703 non-null float64
LAT_HEMISPHERE_y                    1703 non-null object
LAT_MINUTES_y                       1703 non-null float64
LAT_SECONDS_y                       1703 non-null float64
origin_latitude                     1703 non-null float64
LON_DEGREES_y                       1703 non-null float64
LON_HEMISPHERE_y                    1703 non-null object
LON_MINUTES_y                       1703 non-null float64
LON_SECONDS_y                       1703 non-null float64
origin_longitude                    1703 non-null float64
AIRPORT_START_DATE_y                1703 non-null object
AIRPORT_THRU_DATE_y                 0 non-null object
AIRPORT_IS_CLOSED_y                 1703 non-null int64
AIRPORT_IS_LATEST_y                 1703 non-null int64
Unnamed: 28_y                       0 non-null float64
dtypes: float64(20), int64(17), object(25)
memory usage: 838.2+ KB

In [175]:
withOrigin.to_csv("passenger_totals.csv")